# Opensearch Docker version to use. "latest" pulls the latest opensearch image from docker hub
OPENSEARCH_VERSION="latest"
# Port number to host opensearch database locally
OPENSEARCH_DATABASE_PORT=9200
# Port number to host opensearch dashboards locally
OPENSEARCH_DASHBOARDS_PORT=5601

OPENSEARCH_USERNAME=""
# OpenSearch 2.12.0 onwards, the OpenSearch Security Plugin a change that requires an initial password for 'admin' user.
# Minimum 8 character password and must contain at least one uppercase letter, one lowercase letter, 
# one digit, and one special character that is strong. 
# Password strength can be tested here: https://lowe.github.io/tryzxcvbn
OPENSEARCH_PASSWORD=""

# Use these options if the opensearch connection is external
# Update USE_EXTERNAL_OPENSEARCH value to 1 to use the EXTERNAL_OPENSEARCH_URL to connect to
USE_EXTERNAL_OPENSEARCH=0
EXTERNAL_OPENSEARCH_URL=""
