
# The following keys are used by the docker-compose.yaml file to create an opensearch database locally

# Opensearch Docker version to use. "latest" pulls the latest opensearch image from docker hub
OPENSEARCH_VERSION="latest"
# Port number to start up an opensearch database locally
OPENSEARCH_DATABASE_PORT=9200
# Port number to start up an opensearch dashboards locally
OPENSEARCH_DASHBOARDS_PORT=5601
# initial admin password
# OpenSearch 2.12.0 onwards, the OpenSearch Security Plugin a change that requires an initial password for 'admin' user.
# Minimum 8 character password and must contain at least one uppercase letter, one lowercase letter, 
# one digit, and one special character that is strong. 
# Password strength can be tested here: https://lowe.github.io/tryzxcvbn
OPENSEARCH_INITIAL_ADMIN_PASSWORD=""

########################################################################################################################

# the following keys are used for the scripts in this repository

# Authentication method to the database. Either "BASIC_AUTH" or "CERTIFICATE_AUTH"
AUTHENTICATION_METHOD="BASIC_AUTH"
# URL of the opensearch database
DATABASE_URL="https://localhost:9200"
# file path of the root CA certificate if SSL is provided
ROOT_CA_FILE_PATH=""
# toggle between 0 and 1 to validate SSL. If the root CA certificate is not provided,
# toggle to 0 for it to bypass SSL verification
VALIDATE_SSL=0
# format of the file content should be a .txt file with the content username:password 
BASIC_AUTH_FILE_PATH=""
# file path of the client certificate
CERT_AUTH_CERT_FILE_PATH=""
# file path of the client certificate key
CERT_AUTH_KEY_FILE_PATH=""

########################################################################################################################